@font-face {
  font-family: 'Silk Serif';
  src: url('../../assets/Silk-Serif.otf');
}

@font-face {
  font-family: 'Epilogue';
  src: url('../../assets/Epilogue.ttf');
}

@font-face {
  font-family: 'Epilogue Italic';
  src: url('../../assets/Epilogue-Italic.ttf');
}
