@font-face {
  font-family: 'Cubano';
  src: url('../../assets/Cubano.ttf');
}

@font-face {
  font-family: 'Epilogue';
  src: url('../../assets/Epilogue.ttf');
}

@font-face {
  font-family: 'Epilogue';
  font-style: italic;
  src: url('../../assets/Epilogue-Italic.ttf');
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../../assets/IBMPlexMono-Regular.ttf');
}
